<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 class="text-center">Manage Category</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 ">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th>#</th>
                        <th>categoryName</th>
                       
                        <th>Image</th>
                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let data of alluser;let i=index">
                        <th>{{i+1}}</th>
                        <td>{{data.categoryName}}</td>
                        
                        <td>
                            <img [src]="getimg(data.image)" height="100px" width="100px">
                        </td>
                      
                        <th>
                            <a [routerLink]="['/layout/updatecategory',data._id]">
                                <i class="fa fa-edit text-success"></i>
                            </a>
                            <i class="fa fa-trash text-danger" (click)="deleteData(data._id)"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   </div>