<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 class="text-center">DashBoard</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="row mx-auto my-lg-5">
    <div class="col-sm-4 mb-3 mb-sm-0 mb-5">
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">Total Product</h5>
                <p class="card-text">100 product</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-5">
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">Total user</h5>
                <p class="card-text">50 user</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-5">
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">Total Order</h5>
                <p class="card-text">50 order</p>
            </div>
        </div>
    </div>
</div>